<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../../public/css/style.css">
  <title>BlogSphere</title>

</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar" href="/">Blog Sphere</a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blogs">Blog List</a>
          </li>
          {{#if logged_in}}
          <li class="nav-item">
            <a class="nav-link" href="#" id="logout">Logout</a>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sign Up</a>
          </li>
          {{/if}}
        </ul>
      </div>
      </div>
    </nav>
  </header>

  {{{body}}}

  <script src="/js/loggedIn.js"></script>
  <script src="/js/logout.js"></script>
  <script src="/js/signup.js"></script>
  <script src="/js/new-post.js"></script>
  <script src="/js/new-comment.js"></script>
  <script src="/js/delete-blog.js"></script>
</body>

</html>