<main class="container mt-5">
  <div class="row">
    <div class="col-12">
      <a href="/newpost" class="btn btn-primary">Create a New Blog Post!</a>
    </div>
  </div>
  <br>
  <h2 class="mb-4">Current Blogs</h2>
  {{#each posts}}
  <div class="card">
    <h2><a href="/blogs/{{id}}" class="text-decoration-none text-reset">{{title}}</a></h2>
    <p>{{content}}</p>
  </div>
  {{/each}}
</main>