{{#each posts}}
  <div class="blog-post">
    <h2 class="blog-title"><a href="{{url}}">{{title}}</a></h2>
    <p class="blog-date">{{date}}</p>
    <div class="blog-excerpt">{{excerpt}}</div>
  </div>
{{/each}}
