
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../public/css/style.css" />
    <title>Welcome to BlogSphere</title>
  </head>
  <body>
    <header>
      <h1 class="text-center">Welcome to BlogSphere</h1>
    </header>
    <section class="intro">
      <div class="container">
        <h2 class="text-center">A Place to Share Your Stories</h2>
        <p class="intro text-center">BlogSphere is a community-driven blogging
          platform where you can create, share, and engage with content from
          users around the world. Our mission is to provide a space for everyone
          to express themselves, share their perspectives, and learn from one
          another.</p>
      </div>
    </section>
    <footer>
      <p class="text-center">BlogSphere &copy; 2023. All rights reserved.</p>
    </footer>
  </body>
</html>