<div class="container mt-5">
  <h3>Write a New Blog Post</h3>
  <form class="form new-post-form" id="new-post-form">
    <div class="form-group">
      <label for="title-new-post">Blog Name</label>
      <input class="form-outline w-25" type="text" id="title-new-post" name="title-new-post" />
    </div>
    <div class="form-group">
      <label for="content-new-post">Content</label>
      <textarea class="form-outline w-50" id="content-new-post" name="content-new-post"></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>
</div>